<input type="{{ type }}" placeholder="{{ placeholder }}" class="A-form_input {{ modifier }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" {{#if required }}required="required"{{/ if }}/>


 <section id="carBrandRent"> 
            <label for="carBrand">Marca del coche: </label> 
            <input type="text" id="carBrand" name="carBrand" placeholder="Marca"/> 
        </section> 