<form action="/rentalcars/search" method="POST" >
{{!-- <input type="search" name= "searchCars">
<input type="submit" value="Buscar"> --}}
<input type="radio" id="peque単o" name="searchCars" value="peque単o">
<label for="peque単o">Peque単o</label>            
<input type="radio" id="mediano" name="searchCars" value="mediano">
<label for="mediano">Mediano</label>            
<input type="radio" id="grande" name="searchCars" value="grande">
<label for="grande">Grande</label>
<input type="submit" value="Buscar">

</form>


<section>
    
        {{#each cars}}
            <ul>
                <a href="/rentalCars/detail/{{_id}}">
                    <li><img src="{{carImage}}" alt="Car image"></li>
                    <li>Marca: {{carBrand}}</li>
                    <li>Modelo: {{carModel}}</li>
                    <li>Tipo: {{carType}}</li>
                </a>
            </ul>
        {{/each}}
  
</section>