<form action="/rentalCars/deleteCar/{{carDetail._id}}?_method=DELETE" method="POST" id="formRentTemplate">

    <section>
                <label for="transactionType">Finalidad: {{carDetail.transactionType}} </label>
            </section>
            <br>
            <section>
            <label for="carSize">Tamaño: {{carDetail.carSize}} </label>
            </section>
            <br>
            <section>
                <label for="carBrand">Marca: {{carDetail.carBrand}} </label>
            </section>
            <br>
            <section>
                <label for="carModel">Modelo: {{carDetail.carModel}} </label>
            </section>
            <br>
            <section>
            <label for="motorType">Combustible: {{carDetail.motorType}} </label>
            </section>
            <br>
            <section>
                <label for="transmissionType">Tipo de cambio: {{carDetail.transmissionType}} </label>
            </section>
            <br>
            <section>
                <label for="numberOfSeats">Número de plazas: {{carDetail.numberOfSeats}} </label>
            </section>
            <br>
            <section>
                <label for="trunkSize">Tamaño del maletero: {{carDetail.trunkSize}} </label>
            </section>
            <br>
            <section>
                <label for="airConditioning">Aire acondicionado: {{carDetail.airConditioning}} </label>
            </section>
            <br>
            <section>
                <label for="co2Emissions">Emisiones de CO2: {{carDetail.co2Emissions}} gr/km</label>
            </section>
            <br>
            <section>
                <input type="submit" value="Eliminar">
            </section>
    </form>