<form action="" method="GET" id="formRentTemplate">

    <section>
                <label for="transactionType">Finalidad: {{transactionType}} </label>
            </section>
            <br>
            <section>
            <label for="carSize">Tamaño: {{carSize}} </label>
            </section>
            <br>
            <section>
                <label for="carBrand">Marca: {{brand}} </label>
            </section>
            <br>
            <section>
                <label for="carModel">Modelo: {{model}} </label>
            </section>
            <br>
            <label for="motorType">Combustible: {{motorType}} </label>
            </section>
            <br>
            <section>
                <label for="transmissionType">Tipo de cambio: {{transmissionType}} </label>
            </section>
            <br>
            <section>
                <label for="numberOfSeats">Número de plazas: {{numberOfSeats}} </label>
            </section>
            <br>
            <section>
                <label for="trunkSize">Tamaño del maletero: {{trunkSize}} </label>
            </section>
            <br>
            <section>
                <label for="airConditioning">Aire acondicionado: {{airConditioning}} </label>
            </section>
            <br>
            <section>
                <label for="co2Emissions">Emisiones de CO2: {{co2Emissions}} gr/km</label>
            </section>
            <br>

    </form>