    <fieldset>
        <legend>Detalles de la transacci칩n</legend>

        <img src="{{this.carImage}}" alt="Logo">

        <section>
            <label for="carBrand">Marca: </label>
            <input type="text" readonly="readonly" value="{{this.carBrand}}">
        </section>

        <section>
            <label for="carModel">Modelo del coche: </label>
            <input type="text" readonly="readonly" value="{{this.carModel}}">
        </section>

        <section>
            <label for="leasingPrice">Precio alquiler: </label>
            <input type="text" readonly="readonly" value="{{this.leasingPrice}}">
        </section>

        <section>
            <label for="leaseDate">Fecha de alquiler: </label>
            <input type="date"  id="leaseDate" name="leaseDate" placeholder="Fecha de alquiler"/>
        </section>
 
        <section>
            <label for="leaseReturnDate">Fecha devoluci칩n: </label>
            <input type="date"  id="leaseReturnDate" name="leaseReturnDate" placeholder="Fecha devoluci칩n"/>
        </section>

        <section>
            <label for="carType">Tipo de coche: </label>
            <input type="text" readonly="readonly" value="{{this.carType}}">
        </section>

        <section>
            <label for="finalPrice">Precio Final: </label>
            <input type="text" readonly="readonly" value="{{this.finalPrice}}">
        </section>

         <section>
            <label for="place">Lugar: </label>
            <input type="text" readonly="readonly" value="{{this.place}}">
        </section>

        <a href="/rentalCars/detail/{{this._id}}">Atr치s</a>
        <a href="">Alquilar</a>
    </fieldset>