
    <fieldset>
        <legend>Detalles de la transacci칩n</legend>

        <img src="{{this.carImage}}" alt="Logo">

        <p>Marca: {{this.carBrand}}</p>

        <p>Modelo del coche: {{this.carModel}}</p>

        <p>Precio alquiler: <span id="leasingPrice">{{this.leasingPrice}}</span></p>
 
        <section>
            <label for="leaseDate">Fecha de alquiler: </label>
            <input type="date"  id="leaseDate" name="leaseDate"/>
            
        </section>
 
        <section>
            <label for="leaseReturnDate">Fecha devoluci칩n: </label>
            <input type="date"  id="leaseReturnDate" name="leaseReturnDate" placeholder="Fecha devoluci칩n"/>
          
        </section>
        <div>
            
            <button id="confirmDates" >Confirmar fechas</button>
        </div>
      

        <p>Tipo de coche: {{this.carType}}</p>

        <section>
            <label for="finalPrice">Precio Final: </label>
            <input type="text" readonly="readonly" value="{{this.finalPrice}}">
        </section>
        
        <p>Lugar: {{this.place}}</p>

        <a href="/rentalCars/detail/{{this._id}}">Atr치s</a>
        <a href="" id="rentalButton">Alquilar</a>
    </fieldset>
